/Aula2Projeto1/nbproject/private/
/Aula2Projeto1/build/
/Atividade1RecordClasses/nbproject/private/
/Atividade1RecordClasses/build/
/TextBlock/nbproject/private/
/TextBlock/build/
/Aula4/target/
/Aula4ExerciciodeInegracao/target/
/Aula4FazeroExercicioDeIntegração/nbproject/private/
/Aula4FazeroExercicioDeIntegração/build/
/Aula4FazeroExercicioDeIntegração/dist/
/Aula4Atividade_3_Inferencia_de_tipo_de_variavel_local/target/
