
/Unidade-2-JDBC/nbproject/private/
/Unidade-2-JDBC/build/
/unidade-2-xml/nbproject/private/
/pcn-exam-1/pcn-exam-1/nbproject/private/
/pcn-exam-1/pcn-exam-1/build/
/testandoOUUID/target/

/Aula2Projeto1/nbproject/private/
/Aula2Projeto1/build/
/Atividade1RecordClasses/nbproject/private/
/Atividade1RecordClasses/build/
/TextBlock/nbproject/private/
/TextBlock/build/
/Aula4/target/
/Aula4ExerciciodeInegracao/target/
/Aula4FazeroExercicioDeIntegração/nbproject/private/
/Aula4FazeroExercicioDeIntegração/build/
/Aula4FazeroExercicioDeIntegração/dist/
/Aula4Atividade_3_Inferencia_de_tipo_de_variavel_local/target/
/aula5/target/
57a4953e2d92f1c573f0653f60b5c1fe1b601ba9
/message-builder-xml-PRJ-BASE/message-builder-xml-PRJ-BASE/nbproject/private/
/message-builder-xml-PRJ-BASE/message-builder-xml-PRJ-BASE/build/
/unidade-2-logging/unidade-2-logging/nbproject/private/
/Unidade3Paraleleos/target/
 HEAD
/Unidade3FilaDeImpressao/target/

afee69c3b69d2e714d1d905b0aa7dbc71b0935c2
/pcn-final-exam-with-gui-smpl/build/
 746fab0a0d563d62a285a63b1c63508968ac5dba
